---
import "../styles/global.css";
import Header from "../components/Header"
import Footer from "../components/Footer";
import WhatsAppButton from "../components/WhatsAppButton";
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <meta name="description" content={description}>
  
  <!-- SEO Meta Tags -->
  <meta name="keywords" content="pesantren tahfizh putri, pondok pesantren solo, boarding school islam, tahfizh 30 juz, pesantren karanganyar, madrasah aliyah tahfizh, pendidikan islam putri">
  <meta name="author" content="MA Tahfizh Nurul Iman">
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <link rel="canonical" href="https://pondoknuruliman.com">
  
  <!-- Open Graph -->
   <meta property="og:locale" content="id_ID">
   <meta property="og:type" content="website">
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://pondoknuruliman.com">
  <meta property="og:image" content="https://pondoknuruliman.com/wp-content/uploads/2025/02/IMG-20250203-WA0021.jpg">
  <meta property="og:image:width" content="2560">
  <meta property="og:image:height" content="1440">
  <meta property="og:image:height" content="1440">
  <meta property="og:site_name" content="Pondok Nurul Iman">
  
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/favicon.png">
  
  <!-- Google Fonts (Optional) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body class="antialiased min-h-screen flex flex-col">
  <Header client:load />
  <main class="flex-grow pt-[72px]">
    <slot />
  </main>
  <Footer />
  <WhatsAppButton />
</body>

</html>